<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Workout Tracker by Alexander B.">

    <script src="https://cdn.tailwindcss.com"></script>
    <title>Track</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/128/2112/2112184.png" type="image/x-icon">
</head>
<body class="flex flex-col justify-around items-center gap-y-8 bg-cover bg-no-repeat" style="background-image: url('../wave.svg'); background-color: #607EAA;">

    <h1 class="text-2xl font-bold">Track your workout.</h1>

    <label class="text-xl" for="workouts">Choose a workout:</label>

    <form method="post" action="{{ url_for('track_workout') }}" class="flex flex-col gap-y-4 items-center">
        <select name="workouts" id="workouts" class="rounded p-2">
            <option value="Shoulders and Triceps">Shoulders + Triceps</option>
            <option value="Back">Back</option>
            <option value="Chest and Biceps">Chest + Biceps</option>
            <option value="Legs and Abs">Legs + Abs</option>
        </select>

        <button class="rounded border p-2 border-black bg-cyan-400" type="submit">Submit</button>
    </form>

    {% if chosen_workout %}
        <h1 class="text-2xl font-bold">Chosen workout: {{ chosen_workout }}</h1>
        <form action="" method="post" class="gap-y-4">
            {% for exercise, sets in exercise_details.items() %}
                <h2 class="text-xl underline">{{ exercise }}</h2>
                {% for set_num in range(1, sets + 1) %}
                    <label class="my-2" for="weight_{{ exercise }}_set_{{ set_num }}">Weight for Set {{ set_num }}:</label>
                    <input class="my-2 rounded p-2" type="number" step="any" name="weight_{{ exercise }}_set_{{ set_num }}" id="weight_{{ exercise }}_set_{{ set_num }}" class="rounded p-2">
                    <label class="my-2" for="reps_{{ exercise }}_set_{{ set_num }}">Reps for Set {{ set_num }}:</label>
                    <input class="my-2 rounded p-2" type="number" name="reps_{{ exercise }}_set_{{ set_num }}" id="reps_{{ exercise }}_set_{{ set_num }}" class="rounded p-2">
                    <br>
                {% endfor %}
            {% endfor %}
            <button type="submit" class="rounded border p-2 border-black bg-cyan-400">Submit</button>
        </form>
    {% endif %}
</body>
</html>